.admin-background {

  padding: 20px;
  box-sizing: border-box;
}

.menu {
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  font-size: 4rem;

}

select.form-control.mb-3 {
  width: 60%; 
  margin: auto;
  display: block;
  background-color: #555;
  color: white;
  border: none;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
}


.row > form {
  
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
}


.btn {
  display: block;
  width: calc(100% - 40px); 
  margin: 10px auto;
  border: none;
  background-color: #333;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.btn-danger {
  background-color: #ff4d4d;
  border-radius: 20px;
}

.btn-info {
  background-color: #FFF59A;
}

.btn-success {
  background-color: #FFF59A;
}


.row > form > input {
  width: 90%;
  margin: 10px auto;
  display: block;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.link-home {
  color: #333;
  background-color: #D3D3D3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  float: right; 
  margin-top: 20px;
}

table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px;
  background-color: #f9f9f9; 

}

th {
  background-color: #D3D3D3;
  color: white;
  padding: 10px; 
  text-align: left; 
  
}

td {
  padding: 10px;
  border-top: 1px solid #ddd; 
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tr:hover {
  background-color: #ddd; 
}

.IDbtn{
  width: 60%; 
  margin: auto;
  display: block;
  background-color: #555;
  color: white;
  border: none;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
}