.adresse2{
  margin-top: -2rem;
}

.titre4{

  text-align: center;
  color: #ffffff;
}

  .air-container2 {

    border-radius: 30px;
    background: #494848;
    height: 20em;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    justify-content: center; 
    align-items: center; 

  }
  
  .adresse,
  .verif {
    margin-bottom: 0.1rem; 
    margin-top: 4rem;
  }

  .verif {
    fill: #FFF59A;
  }
  

  .quality-air {
    color: #fcfcfc;
    font-family: Impact;
    font-size:1.5rem;
    
  }
  
  
  img {
    margin-left: 2.5rem;
  }
  

  .indicateur {
    
    font-size: 1rem; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    
  }
  

  .pm2,
  .pm10 {
    
    color: #FFF59A;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .exemple {
    color: #FFF59A;
    font-family: Istok Web;
    font-size: 0.6rem;
    
}

.quality {
    color: #FFF59A;
    font-family: Impact;
    font-size:2rem;
    
}

