.widget-measures{
    background-color:rgba(255, 245, 154, 1);
    padding: 1rem;
    border-radius: 30px;
    height: 15rem;
}

.widget-header{
    color: black;
    margin-left: 1rem;
    font-weight: bold;
    margin-top: 2rem;
      
}

.form-select.form-select-lg.mb-3.menudr{
    width: 25rem;
    margin-top: 2rem;

}

.value-average {
    color: #494848;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
    margin-top: -7rem;
   
}

.text-average {
    color: #494848;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: -4rem;

}

@media (max-width: 768px) {
    .widget-measures {
      padding: 0.5rem;
      height: auto; 
    }
  
    .widget-header {
      margin-left: 0.5rem;
      margin-top: 1rem;
    }
  
    .form-select.form-select-lg.mb-3.menudr {
      width: auto; 
      margin-top: 1rem;
    }
  
    .value-average {
      font-size: 5vw; 
      margin-top: 0;
      text-align: center;
    }
  
    .text-average {
      font-size: 4vw; 
      margin-top: 1rem; 
    }
  }
  