.weather-widget-custom {
    background-color: #494848; /* Fond du widget personnalisé */
    font-family: 'Arial', sans-serif; /* Police personnalisée pour le widget */
  }
  
  

  .weather-widget-custom button.custom-button {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
  }
  
  .weather-widget-custom button.custom-button:hover {
    background-color: #e0e0e0;
  }
  
  
.custom-info-button {
  background-color: #17a2b8; /* Couleur de fond bleu Bootstrap pour les boutons info */
  color: white; /* Texte blanc */
  border: none; /* Pas de bordure */
  padding: 0.375rem 0.75rem; /* Padding Bootstrap par défaut pour les boutons */
  border-radius: 0.25rem; /* Rayon de bordure Bootstrap par défaut pour les boutons */
  transition: background-color 0.15s ease-in-out; /* Transition douce pour l'effet de survol */
}

.custom-info-button:hover,
.custom-info-button:focus {
  background-color: #138496; /* Couleur plus foncée au survol et au focus */
  color: white; /* Texte blanc */
  outline: none; /* Supprimer l'outline au focus pour les normes Bootstrap */
}

/* Style personnalisé pour le menu déroulant si nécessaire */
.custom-select {
  /* Si vous avez besoin d'ajouter des styles personnalisés pour le menu déroulant */
}

/* Définition des couleurs de fond en fonction de la température */
.weather-widget-chaud {
  background-color: #FAC07C; /* Couleur pour les températures chaudes */
}

.weather-widget-froid {
  background-color: #BFDEE2; /* Couleur pour les températures fraîches */
}