.sensor-per-year-container {
    height: 16rem;
    border-radius: 30px;
    background: #ffffff;
    height: 18rem;
    padding: 1rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.capteur-achete {
    color: #494848;

    font-family: Istok Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: #494848;

    font-family: Impact;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.year-sensor {

    color: #494848;

    font-family: Impact;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -10%;
}

.choix-annee {

    font-size: 15px;
    background-color: #ffffff00; /* Couleur de fond */
    border: 1px solid #ffffff00; /* Bordure */
    padding: 5px;
    border-radius: 100px;
    margin-left: 10%; 
    margin-right: 10%;

  }

  .form-select:hover, 
  .form-select:focus {
    background-color: #FFF59A; 
  }


.year-selected {
    color: #494848;

    font-family: Impact;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }