.sensor-per-year-container {
    border-radius: 30px;
    background: #ffffff;
    padding-top: 8%;
    height: 18rem;
}

.capteur-achete {
    color: #494848;

    font-family: Istok Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: #494848;

    font-family: Impact;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.year-sensor {

    color: #494848;

    font-family: Impact;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -10%;
}

.choix-annee {

    font-family: Istok Web;
    font-size: 15px;
    background-color: #ffffff00; /* Couleur de fond */
    border: 1px solid #ffffff00; /* Bordure */
    padding: 5px;
    border-radius: 100px;
    margin-left: 10%; 
    margin-right: 10%;

  }